*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* header */

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: static;
}

#logo {
    height: 50px;
    padding-left: 10px;
}

nav{
    text-decoration: underline;
    display: inline-flex;
    float: right;
}

nav p {
    margin: 10px;
}

/* Main body */
#mission {
    background-image: url(./media/mission-background.jpeg);
    height: 700px;
    width: 1200px;
}